<% content_for :head do %>
	<%= stylesheet_link_tag 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css' %>
	<%= stylesheet_link_tag 'non-sitewide/leaflet_map' %>
	<%= javascript_include_tag 'http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js' %>
	<%= javascript_include_tag 'non-sitewide/leaflet_map' %>
<% end %>

<div id="main_container">
	<header>
		<h1>Leaflet Test</h1>
	</header>
	<nav>
		
	</nav>
	<section>
		<div id="map"></div>
		<button onClick='locate(this)'>Locate</button>
	</section>
	<footer>
	</footer>
</div>
