<h1>Cellular Coverage</h1>
<p>
	Support for navigator.connection: 
	<script>
		document.write(!(navigator.connection == undefined));
		if (navigator.connection != undefined) {
			document.write("<br/>Connection type: " + navigator.connection.type);
		}
	</script>
</p>
