<% content_for :head do %>
	<%= javascript_include_tag '//speedof.me/api/api.js' %>
	<%= javascript_include_tag 'non-sitewide/location' %>
	<%= javascript_include_tag 'non-sitewide/speed_test' %>
<% end %>

<% content_for :page_name do %>
	Speed Test
<% end %>

<div id="geolocation">
</div>
<div id="speed">
</div>
<script>
	getLocation();
	test_speed();
</script>