<% content_for :head do %>
	
<% end %>

<div id="main_container">
	<header>
		<h1>Speed Test</h1>
	</header>
	<nav>
		<ul>
			<li><%= link_to 'Map', pages_index_path %></li>
			<li><%= link_to 'Speed Test', pages_test_path %></li>
		</ul>
	</nav>
	<section>
		
	</section>
	<footer>
	</footer>
</div>