<% content_for :page_name do %>
	Map
<% end %>

<p>
	Repository: <a href="https://github.com/nitzel/cellularcoverage">https://github.com/nitzel/cellularcoverage</a>
	<ol>
		<li>
			<a href="https://docs.google.com/presentation/d/13I47SdeVbqOwFarvBZh50U151BGjx35yxNQHdQ_U_mk/edit#slide=id.p"
				target="_blank">
				Presentation 18th of Nov 2015
			</a>
		</li>
		<li>
			<a href="https://goo.gl/PSS6Xd"
				target="_blank">
				Presentation 3rd of Dec 2015
			</a>
		</li>
	</ol>
</p>
