<% content_for :page_name do %>
	Map
<% end %>

<p>
	<ol>
		<li>
			<a href="https://docs.google.com/presentation/d/13I47SdeVbqOwFarvBZh50U151BGjx35yxNQHdQ_U_mk/edit#slide=id.p"
				target="_blank">
				Presentation 18 Nov 2015
			</a>
		</li>
	</ol>
</p>