<% content_for :page_name do %>
	Speed Test
<% end %>

<% content_for :head do %>
	<%= javascript_include_tag 'non-sitewide/page/test/location', 'data-turbolinks-track' => false %>
	<%= javascript_include_tag 'non-sitewide/page/test/speed_test', 'data-turbolinks-track' => false %>
<% end %>

<div id="info"></div>
<div id="output"></div>
<div id="log"></div>
<button id="tester">Test network speed</button>

<script>
	/*console.log = function(a) {
		$("#log").append(JSON.stringify(a) + "<br/>");
	}
	console.error = console.log
	console.warn = console.log;*/
	this.geolocation_enabled = false;
	if(navigator.connection && navigator.connection.type == 'cellular') {
		if (navigator.geolocation) {
			this.geolocation_enabled = true;
		} else {
			$("#info").html('Geolocation is not supported by this browser. You are not able to contribute.<br/>');
		}
	}
	else {
		$("#info").html('You need to be on a cellular network to be able to contribute.<br/>');
	}
	$(function(){
		$('#tester').click(function() {
			test_speed();
		});
	});
</script>